.table {
    th:first-child {
        @apply pl-8 w-1 whitespace-nowrap align-middle;
    }
    tr {
        transition: background-color .1s ease-in-out;
    }
    .no-td-hover-bg {
        th, td {
            @apply bg-transparent;
        }
    }
    .react-simple-star-rating {
        .filled-icons {
            transition: width .3s ease-in-out;
        }
        svg {
            @apply inline-block w-6;
        }
    }
}